@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
html, body {
	font-size: 14px;
	font-family Lato;
}
a {
	text-decoration:none;
}
.navbar{
	background:#fff;
	
}
.header-fixed {
	box-shadow: 0 12px 15px rgba(140, 152, 164, 0.1);
	background: #fff;
}
.navbar-brand {
	color: #292929;
	font-weight:700;
	font-size: 28px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.navbar-nav {
	width: 100%;
	justify-content: flex-end;
}
.navbar-nav li {
	padding-left:25px;
}
.navbar-nav li a {
    color: rgb(0 0 0 / 81%);
    font-size: 16px;
    font-weight: 600;
}
.navbar-toggler {
	box-shadow: none!important;
	border: 1px solid #b3b3b3;
	padding: 6px 10px;
}
@media only screen and (max-width:768px) {
.navbar-nav li {
 width: 100%;
 float: left;
 padding: 10px 0px 10px 10px;
 border-bottom: 1px solid #ebebeb;
}
}
.main-section {
	padding-top:50px;
	padding-bottom:100px;
}
.banner-left h1 {
	margin-top:30%;
}
.banner-left h1 {
	font-size: 20px;
	font-weight: 900;
}
.banner-left h2 {
	color: #292929;
	font-size: 60px;
	font-weight: 700;
}
.banner-left h3 {
	color: #292929;
	font-weight: 600;
	font-size: 28px;
	margin-bottom: 30px;
}
.banner-left p {
	font-size: 16px;
	line-height: 30px;
	color: #607D8B;
}
.head-bottom {
	height: 3px;
	width:140px;
	margin-bottom: 9px;
	margin-top: 0px;
	display: inline-block;
	background-color:#ea4020;
}
.banner-btn {
	margin-top: 40px;
}
.banner-btn button {
	padding: 14px 40px;
	border: none;
	border-radius: 8px;
	color: #fff;
	background-color: #ea4020;
	font-size:16px;
}
.banner-top {
	padding: 40px;
	position: relative;
	margin-top:80px;
}
.banner-img {
	border-radius: 50% 50% 0% 50%;
	border: 15px solid #292929 !important;
	position: relative;
	z-index: 99;
	overflow: hidden;
}
.banner-img img {
	width: 100%;
}

.banner-top:before {
	content: "";
	background-image: url(../13977.jpg);
	position: absolute;
	top: 0;
	left: -40px;
	right: 0;
	bottom: 0;
	background-position: left;
	background-size: cover;
	animation-name: rotate;
	animation-duration:80s;
	animation-iteration-count: infinite;
}
@keyframes rotate {
 from {
transform: rotate(-360deg);
}
to {
	transform: rotate(360deg);
}
}
.banner-top:after {
	content: "";
	position: absolute;
	bottom: 0;
	top: 0;
	left: 0;
	width: 200vw;
	border: 20px solid #ea4020;
	border-radius: 310px;
	background: #fff;
}
.typing {
	position: relative;
	width:fit-content;
	padding-right:20px;
}
.typing::after {
 content: "|";
 position: absolute;
 right: 0;
 width: 100%;
 color: black;
 background: #fff;
 animation: typing 3s steps(22) infinite, caret 1s infinite;
}
@-webkit-keyframes typing {
 to {
 width: 0;
}
}
@keyframes typing {
 to {
 width: 0;
}
}
@-webkit-keyframes caret {
 50% {
 color: transparent;
}
}
@keyframes caret {
 50% {
 color: transparent;
}
}

@media only screen and (max-width:768px) {
.banner-left h1 {
 margin-top:80px;
 font-size: 18px;
 font-weight: 600;
}
.banner-left h2 {
 font-size:40px;
 margin: 0px;
}
.banner-left h3 {
 font-size: 22px;
}
.banner-left .head-bottom {
 height: 2px;
 width: 90px;
}
}
.bg-grey {
	background-color: #f7f6ff;
}
.heading {
	text-align: center;
	width: 100%;
	float: left;
	padding-bottom:20px;
}
.heading h5 {
	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: #292929;
	font-size: 7vw;
	color: transparent;
	font-weight: 600;
	letter-spacing: 0.8rem;
	opacity: 0.05;
	pointer-events: none;
	margin: 0px;
	padding: 0px;
}
.heading h2 {
	font-weight: 600!important;
	color: #292929;
	margin: 0px;
	padding: 0px;
	position: relative;
	bottom:70px;
}
.heading-border {
	height: 4px;
	width:40px;
	margin-bottom:10px;
	margin-top: 0px;
	display: inline-block;
	background-color:#cb7c6f;
}
@media only screen and (max-width:768px) {
.heading h2 {
 bottom: 10px;
 font-size: 18px;
}
.heading-border {
 height:2px;
 width: 20px;
 margin-bottom:6px;
 margin-top: 0px;
}
}

.about-img img {
	width: 95%;
	
}
.about-info h2 {
	border-left: 2px solid #ea4020;
	padding-left: 10px;
	font-size: 18px;
	margin-bottom: 25px;
	margin-top: 25px;
}
.about-info h3 {
	font-weight: 500;
	color: #292929;
	font-size: 18px;
	margin-top: 20px;
	padding-left: 10px;
}
.about-info p {
	padding-left: 10px;
	color: #555a64;
	font-size: 15px;
	line-height: 25px;
	margin-top: 15px;
}
.about-info .about-tool {
	display: flex;
	flex-wrap: wrap;
	margin-top: 28px;
	margin-bottom: 32px;
}
.about-info .about-tool span {
	font-size: 13px;
	border: 1px solid rgba(41, 41, 41, 0.1);
	padding: 6px 16px;
	border-radius: 40px;
	margin: 0 5px 5px 0;
	background: #fff;
}
.about-info .about-work span {
	width: 40px;
	height: 40px;
	line-height: 40px;
	background: #ea4020;
	color: #fff;
	vertical-align: top;
	text-align: center;
	border-radius: 50%;
	font-size: 12px;
	float: left;
}
.about-info .about-work h4 {
	margin-left: 5px;
	float: left;
	margin-top: 8px;
	font-weight: 100;
	font-size: 18px;
}
/*********HEADING SECTION HEADING SECTION *********/
.heading-section {
	padding-bottom: 30px;
	padding-top: 80px;
}
.heading-section h2 {
	text-align: center;
	color: black;
	font-size: 40px;
	margin-bottom: 15px;
}
.heading-section p {
	font-size: 15px;
	text-align: center;
	margin-bottom: 30px;
}
.heading-borders {
	text-align: center;
	justify-content: center;
	display: flex;
}
.heading-borders span {
	border: 1px solid red;
	width: 5%;
	margin-bottom: 20px;
}
@media screen and (max-width:768px) {
	.heading-section h2 {
		font-size: 30px;
		margin-bottom: 5px;
	}
	.heading-borders span {
		width: 8%;
	}
}
@media screen and (max-width:500px) {
	.heading-borders span {
		width: 25%;
	}
	.heading-section h2 {
		font-size: 30px;
	}
}
/*********SERVICES SECTION SERVICES SECTION S*********/
.service-section {
	width: 100%;
	border: none;
	background: white;
	box-shadow: 0 2px 8px 0 rgb(0 0 0 / 10%);
	padding: 55px 40px;
	text-align: center;
	margin-bottom: 30px;
	float: left;
}
.service-section img {
	height: 105px;
	margin-bottom: 15px;
	padding: 0px;
}
.service-section h6 {
	font-size: 18px;
	margin-bottom: 15px;
	font-weight: 600;
	color: black;
}
.service-section p {
	line-height: 30px;
	font-size: 15px;
}
.service-border {
	text-align: center;
	justify-content: center;
	display: flex;
}
.service-border span {
	border: 1px solid red;
	width: 11%;
	margin-bottom: 20px;
}
@media screen and (max-width:768px) {
	.service-section {
		padding: 20px 20px;
	}
}
@media screen and (max-width:500px) {
	.service-section {
		padding: 20px 20px;
	}
}

.experience {
	padding: 20px 30px;
	background: #fff;
	box-shadow: 0 0.375rem 1.5rem 0 rgba(140, 152, 164, 0.125);
	border: 1px solid #e2e8f0;
	border-radius: 10px;
	margin-bottom: 20px;
}
.experience h5 {
	background: #ea4020;
	display: inline-block;
	font-size: 13px;
	padding: 8px 14px;
	border-radius: 20px;
	color: #fff;
}
.portfolio-section {
	border: 1px solid #e2e8f0;
	border-radius: 10px;
	box-shadow: 0 0.375rem 1.5rem 0 rgba(140, 152, 164, 0.125);
	margin-top: 30px;
}
.portfolio-section img {
	width: 100%;
}
.portfolio-section h3 {
	margin-top: 20px;
}
.portfolio-section span {
	border: 1px solid lightgray;
	padding: 5px 10px;
	border-radius: 13px;
	float:left;
	margin:5px 5px 0px 0px;
}
.portfolio-info {
	padding: 20px;
	width: 100%;
	float: left;
}
@media only screen and (max-width:768px) {
.portfolio-section h3 {
 font-size: 16px;
}
}
/*********CONTACT SECTION CONTACT SECTION*********/
.contact-info {
	background: black;
	padding: 45px;
}
.contact-info h4 {
	font-size: 17px;
	margin-top: 25px;
	color: white;
	margin-bottom: 2px;
}
.contact-info p {
	font-size: 15px;
	color: #818385;
	line-height: 30px;
}
.contact-info i {
	background: #fff;
	color: black;
	height: 40px;
	border-radius: 50%;
	font-size: 17px;
	margin-right: 15px;
	margin-top: 20px;
	width: 40px;
	line-height: 40px;
	text-align: center;
}
.contact-form {
	background: white;
	padding: 45px;
	box-shadow: 0px 0px 1px 0px #484848;
}
.contact-form h2 {
	margin-top: 25px;
	font-size: 25px;
	margin-bottom: 20px;
}
.contact-form input {
	height: 45px;
}
.contact-form button {
	color: white;
	border: none;
	background: red;
	padding: 12px 30px;
	font-size: 15px;
	margin-bottom: 25px;
}
@media screen and (max-width:768px) {
	.contact-form {
		padding: 20px;
	}
	.contact-info i {
		margin-right: 5px;
	}
}
@media screen and (max-width:500px) {
	.contact-form {
		padding: 20px;
	}
	.contact-info i {
		margin-right: 5px;
	}
}
/*********HEADING SECTION HEADING SECTION HEADING SECTION*********/
.heading-section {
	padding-bottom: 30px;
	padding-top: 80px;
}
.heading-section h2 {
	text-align: center;
	color: black;
	font-size: 40px;
	margin-bottom: 15px;
}
.heading-section p {
	font-size: 15px;
	text-align: center;
	margin-bottom: 30px;
}
.heading-borders {
	text-align: center;
	justify-content: center;
	display: flex;
}
.heading-borders span {
	border: 1px solid red;
	width: 5%;
	margin-bottom: 20px;
}
@media screen and (max-width:768px) {
	.heading-section h2 {
		font-size: 30px;
		margin-bottom: 5px;
	}
	.heading-borders span {
		width: 8%;
	}
}
@media screen and (max-width:500px) {
	.heading-borders span {
		width: 25%;
	}
	.heading-section h2 {
		font-size: 30px;
	}
}
/*********FOOTER SECTION FOOTER SECTION FOOTER SECTION *********/
.footer {
	background: black;
	padding: 20px 0px 5px 0px;
}
.footer p {
	color: white;
	text-align: right;
}
.footer-section i {
	font-size: 20px;
	margin-right: 10px;
	color: white;
}
@media screen and (max-width:500px) {
	.footer-section {
		text-align: center !important;
	}
	.footer p {
		text-align: center;
	}
}
#mix{
	color:#ea4020 ;
}